/* 
    Document   : admin
    Created on : Aug 26, 2013, 3:16:10 PM
    Author     : Samuel
    Description:
        Purpose of the stylesheet follows.
*/

#wp-product_promo-editor-container {
    background: none repeat scroll 0 0 #FFFFFF;
}

#pure-chat-script { width: 80% }

