/* 
    Document   : widget
    Created on : Jun 11, 2013, 4:00:49 PM
    Author     : Samuel
    Description:
        Purpose of the stylesheet follows.
*/

/**********************************************
**************** Recent Promo ****************/

ul.list-promo li {
    position: relative;
}

ul.list-promo .promo-thumbnail {
    width: 32px;
    position: absolute;
    top: 5px;
    right: 0;
    z-index: 100;
}

ul.list-promo h2 {
    display: inline-block;
    vertical-align: top;
    color: #FF6E00;
}

ul.list-promo li > a {
    display: block;
    line-height: 1.3em;
    margin-right: 38px;
}

ul.list-promo li:not(:last-child) {
    padding-bottom: 5px;
}

/**********************************************
**************** Banner Promo ****************/

#banner-promo img {
    display: block;
    margin: 0 auto;
}

/**********************************************
*********** List Kategori Promosi ************/

.jrl-promo-categories li {
    list-style: none;
}

#promo-tag-cloud li { 
    display: inline-block;
    border: solid 1px #AAA;
    margin: 5px 5px 0 0; 
}

#promo-tag-cloud li a {
    display: inline-block;
    padding: 0 5px;
    background-color: #F2F2F2;
}

#promo-tag-cloud li a span {
    background-color: #FF6E00;
    color: white;
    padding: 0 5px;
}
